@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Jakarta sans font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.plus-jakarta-sans-bold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.plus-jakarta-sans-medium {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Carousel */
.carousel__slide {
    flex: 0 0 237px;
    margin-right: 2rem;
}

